html, body {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
    margin: 15px;
}
.square {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4cqw;
}

.form-popup {
    display: none;
    position: fixed;
    top: 80px;
    align-items: center;
    /* right: 15px; */
    border: 3px solid #f1f1f1;
    /* z-index: 9; */
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
#start-button {
    margin: 10px 5px;
}
input {
    padding: 5px;
    margin: 5px 0px;
}
